## UMLS-Graph Extract Scripts
#### Assumes accessible Oracle database of UMLS Metathesauras and Semantic Network
#### Generates a set of CSV files for ingest into neo4j

In [1]:
import sys
import numpy as np
import pandas as pd
import cx_Oracle
import sqlalchemy

pd.set_option('display.max_colwidth', None)

#### Establish a connection - hide password in file in same directory
##### conn_string.txt file contains one line like: oracle+cx_oracle://user:pass@server-address:port/database

In [2]:
_ = open('conn_string.txt', 'r'); conn_string = _.read().replace('\n',''); _.close()
engine = sqlalchemy.create_engine(conn_string, arraysize=100000, max_identifier_length=128, encoding='utf-8')

#### Set the UMLSversion (in Pitt/Neptune implementation this is the Oracle Schema/User)

In [3]:
UMLSversion = 'UMLS2021AA'

### TUIs.csv

In [4]:
query = "SELECT DISTINCT UI, STY_RL, STN_RTN, DEF FROM {0}.SRDEF WHERE RT = 'STY'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =['TUI:ID', 'name', 'STN', 'DEF']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/TUIs.csv', header=True, index=False)
df.tail()

,TUI:ID,name,STN,DEF
122,T072,Physical Object,A1,An object perceptible to the sense of vision or touch.
123,T114,"Nucleic Acid, Nucleoside, or Nucleotide",A1.4.1.2.1.5,"A complex compound of high molecular weight occurring in living cells. These are basically of two types, ribonucleic (RNA) and deoxyribonucleic (DNA) acids. Nucleic acids are made of nucleotides (nitrogen-containing base, a 5-carbon sugar, and one or more phosphate group) linked together by a phosphodiester bond between the 5' and 3' carbon atoms. Nucleosides are compounds composed of a purine or pyrimidine base (usually adenine, cytosine, guanine, thymine, uracil) linked to either a ribose or a deoxyribose sugar."
124,T171,Language,A2.5,The system of communication used by a particular nation or people.
125,T195,Antibiotic,A1.4.1.1.1.1,A pharmacologically active compound produced by growing microorganisms which kill or inhibit growth of other microorganisms.
126,T201,Clinical Attribute,A2.3.1,An observable or measurable property or state of an organism of clinical interest.

### TUIrel.csv

In [5]:
query = "WITH Semantics as (SELECT DISTINCT UI from {0}.SRDEF WHERE RT = 'STY') SELECT DISTINCT UI3, UI1 FROM {0}.SRSTRE1 INNER JOIN Semantics ON {0}.SRSTRE1.UI1 = Semantics.UI WHERE UI2 = 'T186'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':END_ID', ':START_ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/TUIrel.csv', header=True, index=False)
df.tail()

    :END_ID :START_ID
459    T051      T191
460    T071      T194
461    T121      T195
462    T032      T201
463    T071      T204

### CUIs.csv

In [6]:
query = "SELECT DISTINCT CUI from {0}.MRCONSO where {0}.MRCONSO.ISPREF = 'Y' AND {0}.MRCONSO.STT = 'PF' AND {0}.MRCONSO.TS = 'P' and {0}.MRCONSO.LAT = 'ENG'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =['CUI:ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CUIs.csv', header=True, index=False)
df.tail()

           CUI:ID
4391077  C5441358
4391078  C5441392
4391079  C5441417
4391080  C5441495
4391081  C5441500

### CUI-TUIs.csv

In [7]:
query = "SELECT DISTINCT CUI, TUI FROM {0}.MRSTY".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':START_ID',':END_ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CUI-TUIs.csv', header=True, index=False)
df.tail()

        :START_ID :END_ID
4713812  C5441259    T058
4713813  C5441278    T170
4713814  C5441370    T061
4713815  C5441383    T060
4713816  C5441403    T061

### CUI-CUIs.csv

In [8]:
query = "WITH SABlist as (SELECT DISTINCT SAB from {0}.MRCONSO where {0}.MRCONSO.LAT = 'ENG') SELECT DISTINCT CUI2, CUI1, NVL(RELA, REL), {0}.MRREL.SAB from {0}.MRREL inner join SABlist on {0}.MRREL.SAB = SABlist.SAB where {0}.MRREL.SUPPRESS <> 'O' and CUI1 <> CUI2 and REL <> 'SIB'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':START_ID',':END_ID',':TYPE','SAB']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CUI-CUIs.csv', header=True, index=False)
df.tail()

,:START_ID,:END_ID,:TYPE,SAB
24892781,C5141051,C5441502,has_default_outpatient_classification,CCSR_ICD10CM
24892782,C5384648,C5441502,has_default_outpatient_classification,CCSR_ICD10CM
24892783,C0231528,C5441503,classified_as,CCSR_ICD10CM
24892784,C2895051,C5441503,has_default_outpatient_classification,CCSR_ICD10CM
24892785,C2896461,C5441503,has_default_outpatient_classification,CCSR_ICD10CM

### CODEs.csv

In [9]:
query = "With CUIlist as (SELECT DISTINCT CUI from {0}.MRCONSO where {0}.MRCONSO.ISPREF = 'Y' AND {0}.MRCONSO.STT = 'PF' AND {0}.MRCONSO.TS = 'P' and {0}.MRCONSO.LAT = 'ENG') SELECT DISTINCT ({0}.MRCONSO.SAB||' '||{0}.MRCONSO.CODE), {0}.MRCONSO.SAB, {0}.MRCONSO.CODE from {0}.MRCONSO inner join CUIlist on {0}.MRCONSO.CUI = CUIlist.CUI where {0}.MRCONSO.LAT = 'ENG' and SUPPRESS <> 'O'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =['CodeID:ID','SAB','CODE']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CODEs.csv', header=True, index=False)
df.tail()

                       CodeID:ID            SAB        CODE
5129141        CCSR_ICD10PCS SKB  CCSR_ICD10PCS         SKB
5129142     CCSR_ICD10PCS SKB006  CCSR_ICD10PCS      SKB006
5129143        CCSR_ICD10PCS MST  CCSR_ICD10PCS         MST
5129144        CCSR_ICD10PCS PGN  CCSR_ICD10PCS         PGN
5129145  CCSR_ICD10CM MTHU000002   CCSR_ICD10CM  MTHU000002

### CUI-CODEs.csv

In [10]:
query = "SELECT DISTINCT CUI, (SAB||' '||CODE) FROM {0}.MRCONSO WHERE LAT = 'ENG' AND SUPPRESS <> 'O'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':START_ID',':END_ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CUI-CODEs.csv', header=True, index=False)

# Keep a copy for use by NDCs later
CUI_CODEs = df.copy()

df.tail()

        :START_ID                      :END_ID
5678407  C5441031  SNOMEDCT_US 464271000124109
5678408  C5441114  SNOMEDCT_US 465381000124103
5678409  C5441378         CCSR_ICD10PCS SKB006
5678410  C5441417         CCSR_ICD10PCS FRS011
5678411  C5441420         CCSR_ICD10PCS FRS014

### SUIs.csv

In [11]:
query = "SELECT DISTINCT {0}.MRCONSO.SUI, {0}.MRCONSO.STR FROM {0}.MRCONSO WHERE {0}.MRCONSO.LAT = 'ENG'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =['SUI:ID','name']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/SUIs.csv', header=True, index=False)
df.tail()

            SUI:ID                                    name
9322334  S20333456                 Img hd abnml neuro exam
9322335  S20333923            Sars-cov-2 antb quantitative
9322336  S20335906     True Comfort Pro 33G 4mm Pen Needle
9322337  S20336233    hydrogen peroxide Oral Paste Product
9322338  S20334892  CATHETER,INTERM,MAGIC3 18FR ROCH#50618

### CODE-SUIs.csv

In [12]:
query = "SELECT DISTINCT SUI, (SAB||' '||CODE), TTY, CUI FROM {0}.MRCONSO WHERE LAT = 'ENG' AND SUPPRESS <> 'O'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':END_ID',':START_ID',':TYPE','CUI']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CODE-SUIs.csv', header=True, index=False)
df.tail()

           :END_ID                    :START_ID :TYPE       CUI
9802005  S20347760  SNOMEDCT_US 464711000124105    PT  C5441073
9802006  S20347733  SNOMEDCT_US 465391000124100    FN  C5441115
9802007  S20347947  SNOMEDCT_US 466091000124105    SY  C5441152
9802008  S20348023  SNOMEDCT_US 466711000124102    PT  C5441185
9802009  S20348974         CCSR_ICD10PCS ADM017    SP  C5441450

### CUI-SUIs.csv

In [13]:
query = "SELECT DISTINCT CUI, SUI FROM {0}.MRCONSO WHERE {0}.MRCONSO.ISPREF = 'Y' AND {0}.MRCONSO.STT = 'PF' AND {0}.MRCONSO.TS = 'P' and {0}.MRCONSO.LAT = 'ENG'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':START_ID',':END_ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/CUI-SUIs.csv', header=True, index=False)
df.tail()

        :START_ID    :END_ID
4391077  C5441310  S20349104
4391078  C5441369  S20349041
4391079  C5441410  S20349101
4391080  C5441415  S20349056
4391081  C5441461  S20349159

### DEFs.csv

In [14]:
query = "With CUIlist as (SELECT DISTINCT CUI from {0}.MRCONSO where {0}.MRCONSO.ISPREF = 'Y' AND {0}.MRCONSO.STT = 'PF' AND {0}.MRCONSO.TS = 'P' and {0}.MRCONSO.LAT = 'ENG') SELECT DISTINCT {0}.MRDEF.ATUI, {0}.MRDEF.SAB, ASCIISTR({0}.MRDEF.DEF) FROM {0}.MRDEF inner join CUIlist on {0}.MRDEF.CUI = CUIlist.CUI where SUPPRESS <> 'O' AND NOT (SAB LIKE 'MSH%' AND SAB <> 'MSH') AND NOT (SAB LIKE 'MDR%' AND SAB <> 'MDR')".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =['ATUI:ID','SAB','DEF']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/DEFs.csv', header=True, index=False)
df.tail()

,ATUI:ID,SAB,DEF
335442,AT263079807,UMD,Consulting services that assist organizations in the development and review of alarm management programs.
335443,AT263079607,UMD,Consulting services that assist organizations in the management of energy and utility services.
335444,AT263078367,UMD,Facility and environmental purchased services that provide specialized cleaning for cubicle curtains.
335445,AT263078428,UMD,"Devices used to expand pneumatic cuffs using compressed air. Pneumatic cuff inflators usually include a display screen, controls, pressure regulator, and tubing to connect to the cuff. The inflators typically regulate inflation to a preselected target pressure, maintain that pressure, and subsequently deflate the cuff. These devices may also have a timer for automatic inflation and deflation."
335446,AT263078714,UMD,Handheld devices used to remove a gastrostomy feeding tube. These removers are often sized to be used with specific length and diameter feeding tubes.

### DEFrel.csv

In [15]:
query = "SELECT DISTINCT ATUI, CUI FROM {0}.MRDEF WHERE SUPPRESS <> 'O'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns =[':END_ID',':START_ID']
df.to_csv(path_or_buf='UMLS-Graph-Extracts/DEFrel.csv', header=True, index=False)
df.tail()

            :END_ID :START_ID
392357  AT264688859  C5441051
392358  AT264485487  C5441060
392359  AT265006601  C5441061
392360  AT265051755  C5441062
392361  AT265006602  C5441082

### Append NDCs to CODEs.csv and to CUI-CODEs.csv after merge to CUI_CODEs RXNORM CUIs

In [16]:
query = "SELECT DISTINCT ATV, (SAB||' '||CODE) FROM {0}.MRSAT WHERE SAB = 'RXNORM' and ATN = 'NDC' and SUPPRESS <> 'O'".format(UMLSversion)
df = pd.read_sql_query(query, engine)
df.columns = ['CODE',':END_ID']
df['SAB'] = 'NDC'
df['CodeID:ID'] = df['SAB'] + " " + df['CODE']
df[['CodeID:ID','SAB','CODE']].to_csv('UMLS-Graph-Extracts/CODEs.csv', mode='a', header=False, index=False)

df = df.merge(CUI_CODEs, how='inner', on=':END_ID')
df = df[[':START_ID','CodeID:ID']].rename({'CodeID:ID':':END_ID'}, axis=1)
df.to_csv('UMLS-Graph-Extracts/CUI-CODEs.csv', mode='a', header=False, index=False)

df.tail()

       :START_ID          :END_ID
247540  C5241808  NDC 54771267002
247541  C5242119  NDC 71699015030
247542  C5383902  NDC 59676070260
247543  C5390492  NDC 79129000210
247544  C5398813  NDC 73184016901